* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: peachpuff;
    overflow: hidden;
    padding-left: 35rem;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: 0.1rem solid #ddd;
    color: #333;
}

.heading span {
    color: #007bff;
}

.title {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: 0.1rem solid #ddd;
    color: #333;
}

.title span {
    color: #007bff;
}

.head {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: 0.1rem solid #ddd;
    color: #333;
}

.head span {
    color:#007bff;;
}

.pro {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: 0.1rem solid #ddd;
    color: #333;
}

.pro span {
    color: #ffc107;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid;
}

header .user .nm {
    font-size: 2rem;
    color: #fff;
}

header .user .jb {
    font-size: 1rem;
    color: #fff;
}

header .nv {
    width: 100%;
}

header .nv ul {
    list-style: none;
    padding: 1rem;
}

header .nv ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
}

header .nv ul li a:hover {
    background-color: black;
}

.Details .Row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3 {
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span {
    color: black;
    padding: 0 0.5rem;
}

table,
th,
td {
    border: 1px solid #ffc107;
    border-collapse: collapse;
}

td {
    color: #333;
    padding: 1rem;
}

th {
    color: #333;
    padding: 1rem;
}

table {
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #ddd;
    color: #333;
}

#lis li {
    margin: 0 9rem;
    color: #333;
    font-size: medium;
    padding: 0.5rem 1rem;
}

.Project .Row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3 {
    font-size: 2rem;
    color: black;
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span {
    color: black;
    font-style: bold;
    padding: 0 0.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 10px;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-nav li a:hover {
    background-color: #0056b3;
}

.active {
    background-color: #0056b3;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .menu-button {
        display: block;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        padding-left: 0;
        margin-top: 10px;
        color:aquamarine;
    }

    .navbar-nav li {
        margin: 0;
    }

    .navbar-nav li a {
        padding: 10px;
    }

    .navbar-nav.active {
        display: flex;
    }
}
